@mixin link-no-decoration() {
    border-style: none;
    text-decoration: none;
}

@mixin link-hover() {
    color: $link-hover-color;
    text-decoration: none;
    background: transparent;
    background-color: transparent;
    word-wrap: break-word;
}
